@font-face {
  font-family: "Tisa Sans Pro";
  src: url("../assets/font/TisaSansPro-Light.ttf");

  font-weight: 400;
}

@font-face {
  font-family: "Tisa Sans Pro";

  src: url("../assets/font/TisaSansPro-Regular.ttf");

  font-weight: 500;
}
@font-face {
  font-family: "Tisa Sans Pro";

  src: url("../assets/font/TisaSansPro-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Tisa Sans Pro";

  src: url("../assets/font/TisaSansPro-Medium.ttf");
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tisa Sans Pro";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
